# Radhe Cars - Django app. Install: pip install -r requirements.txt
Django==5.2.1
django-debug-toolbar==5.2.0
dj-database-url==3.1.2
python-dotenv==1.1.0
django-allauth==65.14.0
whitenoise==6.12.0
psycopg2-binary==2.9.11
Pillow==11.2.1
gunicorn==23.0.0
cryptography==46.0.5
requests==2.32.3
PyJWT==2.10.1
