{% extends "admin_panel/base_new.html" %}
{% load static %}
{% block title %}{% if object %}Edit{% else %}Add{% endif %} vehicle{% endblock %}
{% block heading %}{% if object %}Edit vehicle{% else %}Add vehicle{% endif %}{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/admin-panel-dashboard.css' %}" data-ap-server="1">
<link rel="stylesheet" href="{% static 'css/admin-panel-car-form.css' %}" data-ap-server="1">
{% endblock %}
{% block content %}
<div data-ap-car-form-root>
{% include "admin_panel/partials/car_form_body_partial.html" %}
</div>
{% endblock %}
