{% extends "admin_panel/base_new.html" %}
{% load static %}
{% block title %}Buy car inquiries{% endblock %}
{% block heading %}Buy car inquiries{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/admin-panel-inventory.css' %}" data-ap-server="1">
<link rel="stylesheet" href="{% static 'css/admin-panel-dashboard.css' %}" data-ap-server="1">
<link rel="stylesheet" href="{% static 'css/admin-panel-lists.css' %}" data-ap-server="1">
{% endblock %}
{% block content %}
<div class="page-head-list">
    <h1>Buy car inquiries</h1>
    <p class="sub">Messages from customers interested in buying a vehicle.</p>
</div>

<div data-ap-partial-root>
{% include "admin_panel/partials/inquiry_list_partial.html" %}
</div>
{% endblock %}
